body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

p {
    color: gray;
    font-size: 14px;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid seashell;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px 5px 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#add-button {
    background-color: skyblue;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    padding: 10px;
    border-bottom: 1px solid rgb(231, 227, 222);
}

li.completed {
    text-decoration: line-through;
    color: gray;
    background-color: antiquewhite;
}

.buttons {
    margin-top: 20px;
}

button.clear-completed {
    background-color: #007BFF;
    color: white;
}

button.empty-list {
    background-color: #DC3545;
    color: white;
}

button.save-list {
    background-color: #28A745;
    color: white;
}
